.findpassword .title {text-align: center;margin-top: 10%;position: relative}
.findpassword .title h1 {color: #ffffff;font-size: 26px;font-weight: bold;}
.findpassword .back {margin-top: 2%;width: 100%;}
.findpassword .back div {margin: 0 auto;width: 400px;}
.findpassword .back div p {color: #CFD0D1;display: inline-block;width: 90px;}
.findpassword .back div input {background-color: #E3F3FF;margin-left: 15px;margin-top: 20px;
    border: 0px;border-radius: 4px;display: inline-block;width: 210px;}
.findpassword .back .getCode {color: white;display: inline;
    border: 0;margin: 0;padding: 0;}
.findpassword .back .sureBtn {position: relative;background-color: #0080FF;color: white;
    text-align: center;margin: 20px auto;height: 30px;line-height: 30px;border-radius: 4px;}
@media (max-width: 767px) {
    .findpassword .back div input{width: 120px}
    .findpassword .back div{width: 340px}

}
@media (max-width: 320px) {
    .findpassword .back div{width: 290px;}
    .findpassword .back div input{margin-left: 0px;}
}