.login .title {text-align: center;margin-top: 10%;}
.login .title h1 {color: #ffffff;font-size: 26px;font-weight: bold;}
.login-content {margin-top: 2%;width: 100%;color: #9b9a96;}
.login-content div {border-radius: 8px;background: #e9f3fd;width: 355px;padding: 4px 0;
    margin: 0 auto;margin-bottom: 18px;padding-left: 16px;}
.login-content p {margin: 0 auto;width: 335px;margin-top: -14px;padding-left: 46px;
    margin-bottom: 10px;color: #c92d4e;font-weight: 900;}
.login-content .pass {position: relative;}
.login-content i {font-size: 18px;}
.iconfont {font-family: "iconfont" !important;font-size: 16px;font-style: normal;
    -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.login-content input {color: #9b9a96;outline: none;border: none;background: none;
    width: 80%;padding: 6px 0;padding-left: 18px;}
.login-content .wjmm {background: none;text-align: right;padding: 0;color: #ffffff;}
.login-content .yzm {background: none;padding-left: 2px;position: relative;}
.login-content .yzm span {font-size: 16px;color: #ffffff;}
.login-content .yzm input {background: #e9f3fd;width: 160px;margin-right: 10px;}
.login-content .yzm .tp {background: none;width: 120px;position: absolute;top: -3px;
    right: -20px;cursor: pointer;}
.login-content .yzmtishi {padding-left: 116px;}
.login-content .btn {display: block;}
.login-content .btn {color: #fff;background: #1c92fe;font-weight: 900;font-size: 16px;
    text-align: center;padding: 8px 0;cursor: pointer;}
.login-content .wjmm {background: none;text-align: right;padding: 0;}
.login-content .wjmm a{color: #ffffff;}
@media (max-width: 767px) {
    .login-content .yzm .tp{right: 2px;top:-2px;}
}
@media (max-width: 360px) {
    .login-content div{width: 330px}
    .login-content .yzm .tp{width: 100px;right: -5px;top:3px;}
}
@media (max-width: 320px) {
    .login-content div{width: 290px}
    .login-content .yzm input{width: 120px;}
}